/* Estilo para el formulario */
.form {
    background-color: #eef7ff;
    padding: 5vh;
    width: 50%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container_inputs {
    width: 100%;
    margin-bottom: 20px;
}

/* Estilo de los inputs, selects y textareas */
.form input, .form select, .form textarea {
    padding: 10px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 15px;
    border: 2px solid #003366;
    border-radius: 12px;
    background-color: #eef7ff;
}

/* Estilo para los botones */
.form button {
    padding: 12px;
    font-size: 16px;
    background-color: #003366;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: 100%;
}

.form button:hover {
    background-color: #eef7ff;
    color: #003366;
    border: 2px solid #003366;
}

/* Estilos de los mensajes de error */
.error-message {
    color: red;
    font-size: 12px;
    visibility: hidden;
}

.error-message.visible {
    visibility: visible;
}
